{% set client = salt['grains.filter_by']({
  'Debian': {
    'user': 'root',
    'group': 'root',
    'td_agent_log_rotate_size': '10000000',
    'pkgs': ['td-agent-additional-plugins', 'td-agent'],
    'gem_path': 'td-agent-gem',
    'service_name': 'td-agent',
    'dir': {
      'config': '/etc/td-agent',
      'transmuter': '/var/lib/transmuter'
    },
    'config': {
    },
  },
}, merge=salt['pillar.get']('fluentd_plugin:client')) %}
